<ul class="nav">
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
</ul>
<ul class="nav justify-content-center">
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
</ul>
<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
</ul>
<ul class="nav nav-tabs flex-column">
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
</ul>
<ul class="nav nav-fill">
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
</ul>
<ul class="nav ">
  <li class="nav-item dropdown">
    <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">ドロップダウン</a>
    <div class="dropdown-menu">
      <%= link_to :staff_root do %>
        <a href="" class="dropdown-item">staff</a>
      <% end %>
      <%= link_to :staff_root do %>
        <a href="" class="dropdown-item">staff</a>
      <% end %>
      <%= link_to :staff_root do %>
        <a href="" class="dropdown-item">staff</a>
      <% end %>
      <%= link_to :staff_root do %>
        <a href="" class="dropdown-item">staff</a>
      <% end %>
    </div>
  </li>
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
</ul>
<ul class="nav nav-tabs">
  ...
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ドロップダウン</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">メニュー1</a>
      ...
    </div>
  </li>
  ...
</ul>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item" role="presentation">
    <%= link_to :staff_root do %>
      <a href="#home"  id="home-tab"class="nav-link" data-toggle="tab" aria-controls="home" aria-selected="true">foo</a>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to :staff_root do %>
      <a href="" class="nav-link">foo</a>
    <% end %>
  </li>
</ul>
<div id="myTabContent" class="tab-content mt-3">
  <div id="home" class="tab-pane " role="tabpanel" aria-labelledby="home-tab">
    foobarfoobar
  </div>
</div>