<!DOCTYPE html>
<html>
  <head>
    <title><%= document_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "staff", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
<!--    <div id="wrapper">-->
      <%#= render "staff/shared/header" %>
<!--      <div id="container">-->
        <%#= yield %>
<!--      </div>-->
      <%#= render "shared/footer" %>
<!--    </div>-->
<section class="profile-page">
<div class="wrapper">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <%= image_tag "mohamed.jpg",class: "img" %>
  </section>
  <section class="profile-color">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="row justify-content-center">
            <div class="col-lg-3 order-2">
              <div class="card-profile-image">
                  <%= image_tag "mohamed.jpg",class: "rounded-circle" %>
              </div>
            </div>
          <div class="col-4 text-right align-self-lg-center order-3 ">
            <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
            <a href="#" class="btn btn-sm btn-default float-right">Message</a>
          </div>
          <div class="col-4 order-1">
            <div class=" d-flex justify-content-center">
              <div>
                <span class="heading">22</span>
                <span class="description">Friends</span>
              </div>
              <div>
                <span class="heading">10</span>
                <span class="description">Photos</span>
              </div>
              <div>
                <span class="heading">89</span>
                <span class="description">Comments</span>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center mt-5">
          <h3>Jessica Jones<span class="font-weight-light">, 27</span></h3>
          <div class="h6 ni">Bucharest, Romania</div>
          <div class="h6 mt-4">Solution Manager - Creative Tim Officer</div>
          <div>University of Computer Science</div>
        </div>
        <div class="mt-5 py-5 border-top text-center">
          <div class="row justify-content-center">
            <div class="col-lg-9">
              <p>An artist of considerable range, Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. An artist of considerable range.</p>
              <a>Show more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
</section>

  </body>
</html>
